
    <nav class="navbar navbar-expand-md bg-light justify-content-around fixed-top">
        <a href="/" class="navbar-brand"><span class="q">Q</span><span class="uora">uora</span></a>
        
        <form action="" class="form-inline">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>

                </div>
                <input type="text" placeholder="Search" class="form-control input">
            </div>
        </form>
        <ul class="navbar-nav">
           <% if(loggedIn){ %>
                <li class="nav-item">
                    <a href="/askQues" class="nav-link btn btn-success">Ask</a>
                </li>
                <li class="nav-item">
                    <a href="/ansQues" class="nav-link btn btn-secondary">Answer</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link btn btn-warning">Log Out</a>
                </li>
            <% }else { %>
            
            <li class="nav-item">
                <a href="/auth/signup" class="nav-link btn btn-primary">Sign Up</a>
            </li>

            <li class="nav-item">
                <a href="/auth/login" class="nav-link btn btn-warning">Log in</a>
            </li>
            <%}%>
        </ul>
    </nav>
    